<main>

  <app-breadcrumbs [firstItem]="item" [secondaryItem]="secondaryItem" [search]="search"></app-breadcrumbs>

  <section class="pb-3">

    <div class="row px-5 mb-3 text-end --titulo">
      <h1 class="__titulo">Comedores Industriales</h1>
    </div>

    <app-servicios-beneficios></app-servicios-beneficios>

    <section class="m-4 p-2">
      <h3>Comedores Industriales</h3>

      <h3>Ofrezca a sus empleados los beneficios de una buena alimentación y sana convivencia. <- componente</h3>

      <h2>Definición</h2>

      <p>Servicio de comedor industrial con los mejores servicios, ingredientes y atención personalizada donde su personal podrá disfrutar de sana convivencia con una alimentación adecuada.</p>


      <h2>Ventajas</h2>

      <p>Procuramos un ambiente amigable con un menú balanceado diseñado por nutriólogos expertos, el resultado impactara en la mejora del desempeño en las actividades de su personal.</p>

      <h2>Aplicaciones</h2>

      <p>Este servicio es adecuado para todas las áreas de la empresa moderna en oficinas corporativas, bodegas, fabricas, trabajo de campo, etc.</p>



    </section>

  </section>
</main>
