<main>

  <app-breadcrumbs [firstItem]="item" [search]="search"></app-breadcrumbs>

  <section class="pb-3">

    <div class="row px-5 mb-3 text-end --titulo">
      <h1 class="__titulo">{{ this.titulo }}</h1>
    </div>

    <app-servicios-beneficios></app-servicios-beneficios>

    <section class="m-4 p-2">

      <h3>{{ this.titulo }}</h3>

      <h3>Excelente calidad, gran sabor y estupenda presentación. <- componente</h3>

      <h2>Definición</h2>

      <p>BOX LUNCH es un producto personalizado para cada necesidad de nuestros clientes con un menú acorde para su empresa considerando siempre:</p>

      <ul>
        <li><p>Calidad</p></li>
        <li><p>Presentación</p></li>
        <li><p>Temperatura</p></li>
        <li><p>Tiempo de entrega</p></li>
      </ul>


      <h2>Ventajas</h2>

      <p>Nuestros clientes tienen necesidades específicas que consideramos para diseñar el BOX LUNCH que resuelve las necesidades particulares de nuestro cliente.</p>

      <h2>Aplicaciones</h2>

      <p>Este servicio es adecuado para eventos especiales, trabajo de campo.</p>



    </section>

  </section>
</main>

