@import "src/assets/sass/variables"

.breadcrumb
    margin-top: 0
    margin-bottom: 0
    padding: 2px 0 5px 10px
    background-color: $-color30 !important
    color: white

    a
        margin-top: 7px
        color: white
        text-decoration: none

        &:hover
            cursor: pointer
            color: $-color10

    .text
        margin-top: 7px
