
    <footer class="w-100 p-0 m-0">
      <div class="-col-4 container-fluid p-3 ">
        <div class="">
          <div class="bg-light p-2 m-3 w-25">
               <a class="" href="/"><img src="assets/images/mpm-logo.webp" class="img-fluid" width="100px"></a>
          </div>
          <div  class="t p-2">
            <ul>
              <li><a class="dropdown-item" [routerLink]="['/somos']">Quienes somos</a></li>
            </ul>
          </div>
        </div>
        <div class=" servicios p-3">
          <h6>Servicios</h6>
          <ul>
            <li><a class="dropdown-item" [routerLink]="['/servicios/comedores-industriales']">Comedores industriales</a></li>
            <li><a class="dropdown-item" [routerLink]="['/servicios/box-lunch']">Box Lunch</a></li>
            <li><a class="dropdown-item" [routerLink]="['/servicios/catering-eventos-externos']">Catering eventos externos</a></li>
            <li><a class="dropdown-item" href="#">Catering eventos internos</a></li>
            <li><a class="dropdown-item" href="#">Cofee Break</a></li>
            <li><a class="dropdown-item" href="#">Desarrollo de proyectos</a></li>
            <li><a class="dropdown-item" href="#">Consultoría</a></li>
          </ul>
        </div>
        <div class=" p-3">
          <h6>Contacto</h6>
          <p>Dirección</p>
          <a href="mailto:trujillo@excess.com.mx">contacto@loungeandfoodmpm.com</a>
        </div>
        <div class=" p-3">
          <h6>Bolsa de trabajo</h6>
          <a href="mailto:trujillo@excess.com.mx">contacto@loungeandfoodmpm.com</a>
        </div>
      </div>
      <div class="bg-light">
        <p class="text-center text-body-secondary">&copy; 2024 Lounge & Food MPM <a [routerLink]="['/aviso-de-privacidad']">Aviso de privacidad</a> </p>
      </div>
    </footer>

    <script src="http://thecodeplayer.com/uploads/js/prefixfree-1.0.7.js" type="text/javascript" type="text/javascript"></script>
