<app-breadcrumbs [firstItem]="blog.name"></app-breadcrumbs>
<div class="p-2">
    <h1>{{ blog.name }}</h1>
    <div [innerHtml]="blog.date | date: 'mediumDate'" class="-nombre" ></div>
    <div class="-col-2 p-1" >
      <div >
        <img [src]="blog._id | image: 'news'"  [alt]="blog.name"  class="img-fluid" width="100%"  *ngIf="view">
      </div>
  
      <div>
          <div [innerHTML]="blog.description" class="-intro" ></div>
  
          <hr>
  
          <iframe [src]="linkface"
                  width="450"
                  height="35"
                  style="border:none;
                      overflow:hidden;
                      color:white;"
                  scrolling="no"
                  frameborder="0"
                  allowfullscreen="true"
                  allow="autoplay;
                      clipboard-write;
                      encrypted-media;
                      picture-in-picture;
                      web-share">
          </iframe>
  
      </div>
  
    </div>
  </div>