/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap"
@import "src/assets/sass/variables"

.-err
  border: 1px solid red

h1
  font-size: 34px
  font-weight: 400
