<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/dashboard">
    <span class="menu-title" translate="MENU.DASHBOARD"></span>
  </a>
</div>


<!-- Users -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/users">
    <span class="menu-title" translate="MENU.USERS"></span>
  </a>
</div>

<!-- News -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/news">
    <span class="menu-title">Comunicados</span>
  </a>
</div>
