
<nav class="navbar navbar-expand-lg bg-body-tertiary p-0">

  <div class="container-fluid">

    <a class="navbar-brand" href="/"><img src="assets/images/mpm-logo.webp" class="img-fluid" width="100px"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link active" href="#">Somos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Servicios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Comedores industriales</a></li>
            <li><a class="dropdown-item" href="#">Box Lunch</a></li>
            <li><a class="dropdown-item" href="#">Catering eventos externos</a></li>
            <li><a class="dropdown-item" href="#">Catering eventos internos</a></li>
            <li><a class="dropdown-item" href="#">Cofee Break</a></li>
            <li><a class="dropdown-item" href="#">Desarrollo de proyectos</a></li>
            <li><a class="dropdown-item" href="#">Consultoría</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Beneficios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Alianzas estratégicas</a></li>
            <li><a class="dropdown-item" href="#">Certificaciones</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Bolsa de trabajo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Comunicados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>


      </ul>
    </div>

  </div>
  <app-search></app-search>
</nav>


