
<main>
    <app-breadcrumbs [firstItem]="item" [search]="search"></app-breadcrumbs>


  <section class="container-fluid px-4 py-5 text-center -hero">
    <div class="">
      <div>
        <h2 class="display-5 fw-bold">The quick brown fox jumps over the lazy dog</h2>
      </div>
    </div>
    <div class="lc-block col-lg-6 mx-auto mb-4">
      <div>
        <p class="lead ">Ladrar es el sistema de comunicación natural del perro, los motivos pueden ser diversos. Sin embargo, en ocasiones se convierte en un hábito molesto y difícil de controlar. Exploremos las causa</p>
      </div>
    </div>

    <div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a class="btn btn-primary btn-lg px-4 gap-3" href="#" role="button">Más información</a>
    </div>

  </section>

  <section class="-card border shadow-lg rounded-lg py-4  px-8 flex flex-col lg:flex-row">

    <div class="w-full lg:w-1/2 p-0 -err">
      <a href="#"><img src="/assets/images/portada.jpg" class="w-full object-contain" alt=""></a>
    </div>

    <div class="w-full lg:w-1/2 flex justify-start flex-col align-top items-start p-4 pt-0 pb-0 -err">
      <h2 class="text-2xl font-semibold text-left">
        Título del blog

      </h2>
      <p class="text-gray-500 text-left">
        Eliminar el olor a orina de tu perro puede ser un reto. Para lograrlo se debe abordar adecuadamente, aquí te comparto algunos consejos y te recomiendo los productos a usar.
      </p>

      <div class=" flex justify-end items-end w-full h-full">
        <a class="-boton-azul" href="#">leer más</a>
      </div>

    </div>

  </section>

  <section class="-err">



    <div class="-blogs"><!-- <div class="-blogs" infiniteScroll [infiniteScrollDistance]="1"  (scrolled)="onScroll()"> -->

      <div class="p-2">
            <h1>Comunicados</h1>


            <div class="">

              <div class="">

                <div *ngFor="let blog of blogs " class="" >

                  <div>

                    <a [routerLink]="['/blog', blog.slug]">
                      <img [src]="blog._id | image: 'news'"  [alt]="blog.name">
                      <img src="/assets/images/portada.jpg" class="fluid">
                    </a>
                    <div>
                      <div [innerHTML]="blog.intro | truncate: 200" class="-intro" ></div>
                    </div>

                    <div class="">
                      <a [routerLink]="['/blog']" [queryParams]="{ blog: blog | json }" class="float-end">ver mas</a>
                    </div>

                </div>

              </div>

            </div>
          </div>
        </div>
    </div>

    <!--<div class="-pub-right text-end end">
      ¿¿¿¿¿
    </div>-->

  </section>

</main>
