<main>

  <app-breadcrumbs [firstItem]="item" [search]="search"></app-breadcrumbs>

  <section class="pb-3">

    <div class="row px-5 mb-3 text-end --titulo">
      <h1 class="__titulo">Quienes somos</h1>
    </div>

    <div class="m-4 p-2">
      <h3>Quienes somos</h3>

      <p>Lounge & food mpm es una empresa 100% mexicana fundada en 1997 con más de 27 años de experiencia proporcionando servicios de alimentación de personal y limpieza de inmuebles, brindamos nuestros servicios con los más altos estándares de calidad, higiene y el excepcional servicio que nos distingue.</p>

      <p>Nuestros clientes están seguros de que Lounge & Food mpm cumple con las expectativas de calidad, servicio y atención personal que Requieren.</p>

      <p>Tenemos operaciones en el Bajio, área metropolitana del Estado de México y poseemos participación de mercado en toda. La república. Continuamente mejoramos y consolidamos infraestructura, sistemas y logística para satisfacer la creciente demanda.</p>

      <p>Con 3 divisiones y especialidades en administración, operación, diseño equipamiento y mantenimiento industrial, apoyando a empresas mexicanas con sus necesidades de servicio y de certificación e implementación de distintivo H</p>

      <p>Nuestros clientes encuentran en Lounge & food mpm seguridad y confianza a través de nuestras certificaciones y alianzas estratégicas.</p>

      <h3>Misión</h3>

      <p>Apoyar a nuestros clientes para cubrir las necesidades clave en la alimentación de su personal.</p>

      <p>Proporcionar a nuestros clientes servicios de alimentación y limpieza de inmuebles con personal altamente capacitado con las mejores técnicas de servicio y utilizando los mejores materiales.</p>

       <p>Garantizar la satisfacción de nuestros clientes con base a mejora continua de Lounge & food mpm para proporcionar la higiene, calidad y atención personalizada. Desarrollando productos y servicios para satisfacer las necesidades y preferencias de nuestros clientes.</p>


      <h3>Visión</h3>

      <p>Ser la empresa líder en el país en proporcionar servicios de alimentación de personal y limpieza de inmuebles.</p>

      <p>Ser el mejor socio comercial de nuestros clientes y el mejor referente de calidad y servicio.</p>

      <h3> Valores</h3>
      <ul>

        <li><p>Respeto, procuración y orientación hacia los intereses de nuestros clientes.</p></li>
        <li><p>Actuar siempre con Honestidad y transparencia.</p></li>
        <li><p>Procurar la diversidad e inclusión valorando a todos nuestros colaboradores.</p></li>
        <li><p>Compromiso con nuestros empleados y colaboradores.</p></li>
        <li><p>Responsabilidad social un compromiso voluntario que asumimos para contribuir con la sociedad y el medio ambiente más allá de cumplir con nuestros objetivos económicos.</p></li>
        <li><p>Pasión con base al trabajo en equipo, capacitación y creatividad.</p></li>
        <li><p>Eficiencia al enfocarnos en hacer las tareas bien, aprovechando al máximo los recursos, el tiempo y talento.</p></li>

      </ul>

      <h3>Nuestra filosofía</h3>

      <p>Nuestros clientes constituyen el elemento fundamental para el éxito de Lounge & food mpm y es nuestra responsabilidad apoyar a nuestros colaboradores en toda la cadena de servicio en su desarrollo personal y bienestar integral.</p>

      <p>Cumplir nuestros compromisos con proveedores y colaboradores buscando siempre una relación de beneficio y respeto.</p>

    </div>

  </section>
</main>
