<main>

  <app-breadcrumbs [firstItem]="item" [search]="search"></app-breadcrumbs>

  <section class="pb-3">

    <div class="--titulo">
      <h1 class="-titulo-seccion">Acerca de nosotros</h1>
    </div>

    <section class="m-4 p-2">
      <h1>Quienes somos</h1>
      <p>Somos tu mejor opción
      <br><b>Con más de 27 años brindando servicio de excelencia</b></p>

      <div class="-col-2">
        <div class="d-flex align-items-center justify-content-center px-3 py-2">
          <img src="/assets/images/plato-servido.webp" class="img-fluid"  width="100%" alt="ejemplo">
        </div>
        <div class="  px-3">
          <p>Enfoque centrado en el cliente, brindamos soluciones basadas en necesidades, preferencias de sus colaboradores y sus objetivos organizacionales. Lo que le permite al cliente contar con mayor tiempo para dedicarse a lo que mejor hacen.
            Con MPM los empleados se ven beneficiados por la prestación que las organizaciones les ofrecen tales como:</p>
          <ol>
            <li><p>Tiempo libre para disfrutar de las actividades que más le agradan fuera del trabajo, despreocupándose de la preparación del alimento del día de mañana.</p></li>
            <li><p>Ahorran dinero</p></li>
            <li><p>Variedad de alimentos, rica y saludable.</p></li>
            <li><p>Alimentación balanceada, ligera y nutritiva: Cuando el empleado recibe una comida completa y equilibrada, su desempeño será aún mejor dentro de la empresa, pues se sentirá satisfecho y con energía para seguir desarrollando sus actividades.</p></li>
            <li><p>Alimentos preparados con los más altos niveles de higiene</p></li>
            <li><p>Prevención de enfermedades. Un beneficio estimulante, satisfactorio qué recibe un trabajador generando un compromiso optimo y mejorando una mayor productividad.</p></li>
          </ol>
          <p>Los clientes son nuestra razón de ser
            Siempre encontramos formas para satisfacer los deseos y necesidades de nuestros clientes.
            Ofrecerles la mejor experiencia es nuestra razón de ser.
            Son ellos quienes nos dan la pauta para que cada día mejoremos nuestras estrategias.
            Comprender al cliente es nuestra base para la innovación.
          </p>
        </div>
      </div>
    </section>

    <section class="m-4 p-2">
      <h1>Servicios de alimentación</h1>
      <p>Nuestra pasión es servirte!
        <br><b>Creamos Soluciones que generan impacto</b></p>

      <div class="-col-2">
        <div class="d-flex align-items-center justify-content-center px-3 py-2">
          <img src="/assets/images/servicios-de-alimentacion.webp" class="img-fluid"  width="100%" alt="ejemplo">
        </div>
        <div class="  px-3">


          <p>Soluciones gastronómicas creativas y nutritivas que brindan el máximo beneficio a los servicios de alimentación. Utilizamos nuestra experiencia, conocimiento, y nuestra pasión por la innovación, para desarrollar soluciones replicables y personalizables a las necesidades de nuestros comensales y clientes.</p>
          <p>Cada cliente tiene demandas de alimentos únicas. Los esperamos con una cálida hospitalidad, y excelente servicio, independiente del tamaño y ubicación geográfica de nuestros clientes. Nuestra gestión nos permite ofrecer este servicio al menor costo.</p>
          <p>Lo hacemos porque nos apasiona brindar servicio de alimentación que une a las personas para compartir grandes momentos. Lo que nos motiva a todos en MPM es ofrecer el mejor y más eficiente servicio de alimentación para cada cliente, de forma permanente, ética y sostenible.</p>
          <p>Siempre estamos trabajando para encontrar las ideas más frescas e innovadoras, apoyándonos en la experiencia de nuestros grandes chefs que comparten nuestra pasión.
          <p>Convertimos momentos cotidianos en experiencias extraordinarias</p>
          <p>Permítenos llevar nuestra experiencia y soluciones personalizadas a tu empresa. CONTACTANOS</p>
        </div>
      </div>
    </section>

    <div class="d-flex align-items-center justify-content-center px-3 py-2">
      <img src="/assets/images/sushi.webp" class="img-fluid"  width="60%" alt="ejemplo">
    </div>

    <div>
      <h3>Misión</h3>

      <p>Apoyar a nuestros clientes para cubrir las necesidades clave en la alimentación de su personal.</p>

      <p>Proporcionar a nuestros clientes servicios de alimentación y limpieza de inmuebles con personal altamente capacitado con las mejores técnicas de servicio y utilizando los mejores materiales.</p>

       <p>Garantizar la satisfacción de nuestros clientes con base a mejora continua de Lounge & food mpm para proporcionar la higiene, calidad y atención personalizada. Desarrollando productos y servicios para satisfacer las necesidades y preferencias de nuestros clientes.</p>


      <h3>Visión</h3>

      <p>Ser la empresa líder en el país en proporcionar servicios de alimentación de personal y limpieza de inmuebles.</p>

      <p>Ser el mejor socio comercial de nuestros clientes y el mejor referente de calidad y servicio.</p>

      <h3> Valores</h3>
      <ul>

        <li><p>Respeto, procuración y orientación hacia los intereses de nuestros clientes.</p></li>
        <li><p>Actuar siempre con Honestidad y transparencia.</p></li>
        <li><p>Procurar la diversidad e inclusión valorando a todos nuestros colaboradores.</p></li>
        <li><p>Compromiso con nuestros empleados y colaboradores.</p></li>
        <li><p>Responsabilidad social un compromiso voluntario que asumimos para contribuir con la sociedad y el medio ambiente más allá de cumplir con nuestros objetivos económicos.</p></li>
        <li><p>Pasión con base al trabajo en equipo, capacitación y creatividad.</p></li>
        <li><p>Eficiencia al enfocarnos en hacer las tareas bien, aprovechando al máximo los recursos, el tiempo y talento.</p></li>

      </ul>

      <h3>Nuestra filosofía</h3>

      <p>Nuestros clientes constituyen el elemento fundamental para el éxito de Lounge & food mpm y es nuestra responsabilidad apoyar a nuestros colaboradores en toda la cadena de servicio en su desarrollo personal y bienestar integral.</p>

      <p>Cumplir nuestros compromisos con proveedores y colaboradores buscando siempre una relación de beneficio y respeto.</p>

    </div>

  </section>


</main>
